body {
  background-color: rgb(211, 211, 211);
  margin: 0;
}

.banner {
    background-color: rgb(228, 111, 31);
    width: 100%;
    height: 100px;
    overflow: hidden;
    z-index: 1;
}

.banner img {
  height: 100px;
}

.input_area {
  background-color: white;
  position: relative;
  z-index: 1;
  width: 500px;
  margin: 0 auto;
  top: 400px;
}

form {
  display: inline-block;
}

.input_area input[type="submit"] {
  text-align: center;
}

