body {
  background-color: rgb(211, 211, 211);
  margin: 0;
}

.banner {
    background-color: rgb(228, 111, 31);
    width: 100%;
    height: 75px;
    overflow: hidden;
    z-index: 1;
}

.banner img {
  height: 75px;
}

.input_area {
  background-color: white;
  position: relative;
  z-index: 1;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  top: 50px;
}

.input_area_form {
  position: relative;
  top: 100px;
}

input[type=text] {
  position: absolute;
  left: 220px;
}

label {
  position: absolute;
  left: 100px;
  font-weight: bold;
}

input[type="submit"] {
  position: relative;
  left: 200px;
  top: 25px;
  width: 118px;
  height: 43px;
  border-radius: 12px;
}

